<% flash.each do |type, message| %>
  <% next if message.blank? %>
  <div class="flash flash--<%= type %>" role="alert">
    <%= message %>
    <button type="button" class="flash__close" aria-label="閉じる" onclick="this.parentElement.remove()">×</button>
  </div>
<% end %>