<footer class="site-footer">
  <div class="site-footer__inner">
    <p>&copy; <%= Date.current.year %> MusicHub. All rights reserved.</p>
    <nav aria-label="フッターナビゲーション">
      <ul class="site-footer__list">
        <li><%= link_to "利用規約", "#" %></li>
        <li><%= link_to "プライバシーポリシー", "#" %></li>
        <li><%= link_to "お問い合わせ", "#" %></li>
      </ul>
    </nav>
  </div>
</footer>