<%# ④ イベント登録 %>
<% content_for :title, "イベント登録 — MusicHub" %>

<div class="mh-subhead">
  <%= link_to root_path, class: "mh-subhead-back" do %>←<% end %>
  <span class="mh-subhead-title">イベント登録</span>
</div>

<%= render "form", submit_label: "登録する" %>
